<div>
    <h1>Rock, Paper, Scissors</h1>

    <form action=/names method=post>
        <input type=text name=player1 placeholder=player1>
        <input type=text name=player2 placeholder=player2>
        <input type=submit value=Play!>
    </form>

<div>